body {
    background: rgb(255, 0, 234);
    color: rgb(0, 0, 0);
    margin: 0opx;
    font-family: "poppins", sans-serif;
}

header {
    border-bottom: solid 2px blueviolet rgb(42, , 122, rgb(255, 0, 64));
    padding: 20px;
    font-size: 32px;
    color: rgb(rgb(0, 255, 98), rgb(255, 0, 255), rgb(200, 255, 0));
}

section {
    background-color: yellow;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 20px;
}

h1 {
    font-size: 40opx;
}

p {
    font-size: 20opx;
}